aux=haskell.aux
htmldir=haskell98-report-html/
refs=reportrefs
files= preface-jfp.verb
files= intro.verb
files= lexemes.verb
files= exps.verb
files= decls.verb
files= modules.verb
files= basic.verb
files= io-13.verb
files=standard-prelude.verb
files=syntax-iso.verb
files=literate.verb
files=derived.verb
files=pragmas.verb

files=ratio.verb
files=complex.verb
files=numeric.verb
files=ix.verb
files=array.verb
files=list.verb
files=maybe.verb
files=char.verb
files=monad.verb
files=io.verb
files=directory.verb
files=system.verb
files=time.verb
files=locale.verb
files=cputime.verb
files=random.verb

files=haskell.bbl

index=haskell98-report-html/index98.html
style=article

~top=<a href="index.html">top</a>
~style=<body bgcolor="#ffffff">
~id=<i>The Haskell 98 Report</i><br>
~back=<a href="~prev.html">back</a>
~nxt=<a href="~next.html">next</a>
~funct=<a href="prelude-index.html">function index</a>
~contents=<a href="index98.html">contents</a>
~foot=<br><font size=2>December 2002</font>
~footer=<hr>~id~top | ~back | ~nxt | ~contents | ~funct ~foot
~sfooter=<hr>~id~top | back | ~nxt | ~contents | ~funct ~foot
~efooter=<hr>~id~top | ~back | next | ~contents | ~funct ~foot
~header=~style ~id ~top | ~back | ~nxt | ~contents | ~funct <br><hr>
~sheader=~style ~id ~top | back | ~nxt | ~contents | ~funct <br><hr>
~eheader=~style ~id ~top | ~back | next | ~contents | ~funct <br><hr>
~indexHeader=<title>Haskell 98 Contents</title>~style ~id~top | ~funct <br><h3>Haskell 98 Report: Contentsx</h3>
