aux=library.aux
htmldir=haskell98-library-html/
refs=librefs
files=introduction.verb
files=ratio.verb
files=complex.verb
files=numeric.verb
files=ix.verb
files=array.verb
files=list.verb
files=maybe.verb
files=char.verb
files=monad.verb
files=io.verb
files=directory.verb
files=system.verb
files=time.verb
files=locale.verb
files=cputime.verb
files=random.verb
#files=bit.verb
#files=nat.verb
#files=signed.verb



index=haskell98-library-html/libindex.html
style=article

~top=<a href="index.html">top</a>
~style=<body bgcolor="#ffffff">
~id=<i>The Haskell 98 Library Report</i><br>
~back=<a href="~prev.html">back</a>
~nxt=<a href="~next.html">next</a>
~contents=<a href="libindex.html">contents</a>
~foot=<br><font size=2>1 February, 1999</font>
~footer=<hr>~id~top | ~back | ~nxt | ~contents ~foot
~sfooter=<hr>~id~top | back | ~nxt | ~contents ~foot
~efooter=<hr>~id~top | ~back | next | ~contents ~foot
~header=~style ~id ~top | ~back | ~nxt | ~contents <br><hr>
~sheader=~style ~id ~top | back | ~nxt | ~contents <br><hr>
~eheader=~style ~id ~top | ~back | next | ~contents <br><hr>
~indexHeader=<title>Haskell 98 Library Index</title>~style ~id~top <br><h3>Haskell 98 Library Report: Index</h3>
